 </div>
        </div>
    </div>
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="../static/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/jqcloud-1.0.4.js"></script>
    <script type="text/javascript" src="../static/js/a.js"></script>
</body>
</html>
