<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>微博用户内容展示系统</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
    <link href="../static/css/jqcloud.css" rel="stylesheet">
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">微博用户内容展示系统</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="index.html">首页</a>
                        </li>

                        <li>
                            <a href="#">地方相关<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user?id=1887683497">平安哈尔滨</a>
                                </li>
                                <li>
                                    <a href="user?id=1688383542">哈尔滨身边事</a>
                                </li>
                                 <li>
                                    <a href="user?id=2466412043">新浪哈尔滨旅游</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">动漫<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user?id=2477971432">微博动漫</a>
                                </li>
                                <li>
                                    <a href="user?id=1748075785">哔哩哔哩弹幕网</a>
                                </li>
                                 <li>
                                    <a href="user?id=2410626252">Acfun弹幕视频网</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">明星<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user?id=1263498570">黄渤</a>
                                </li>
                                <li>
                                    <a href="user?id=5187664653">邓超</a>
                                </li>
                                 <li>
                                    <a href="user?id=1751675285">岳云鹏</a>
                                </li>
                                <li>
                                    <a href="user?id=1854283601">郭德纲</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">新闻<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user?id=2803301701">人民日报</a>
                                </li>
                                <li>
                                    <a href="user?id=2656274875">央视新闻</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">网红排行榜Top10<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="user?id=1826792401">王思聪</a>
                                </li>
                                <li>
                                    <a href="user?id=2714280233">papi酱</a>
                                </li>
                                 <li>
                                    <a href="user?id=1563926367">天才小熊猫</a>
                                </li>
                                 <li>
                                    <a href="user?id=2477339061">艾克里里</a>
                                </li>
                                 <li>
                                    <a href="user?id=3217179555">回忆专用小马甲</a>
                                </li>
                                 <li>
                                    <a href="user?id=1691761292">叫兽易小星</a>
                                </li>
                                 <li>
                                    <a href="user?id=1742121542">八卦我实在是太CJ了</a>
                                </li>
                                 <li>
                                    <a href="user?id=1659041705">穆雅斓</a>
                                </li>
                                 <li>
                                    <a href="user?id=1549362863">张大奕eve</a>
                                </li>
                                 <li>
                                    <a href="user?id=1808624312">章泽天</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div id="page-wrapper">
            <div class="row">